.navbar {
    background-color: #f1f0f0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}

.navbar a {
    float: left;
    display: block;
    color: #713077;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.menu-icon {
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 14px 16px;
}

@media screen and (max-width: 768px) {
    .navbar a {
        display: none;
    }

    .menu-icon {
        display: block;
        text-align: center;
        width: 100%;
    }

    .navbar.active {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.active a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 12px 20px;
    }

    .navbar.active .menu-icon {
        text-align: right;
    }
}
